.board-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(134, 156, 177);
    padding: 5px;
}

.selection-container{
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: rgb(134, 156, 177);
    padding: 5px;
}

.board-item{
    background-color: rgb(137, 211, 230);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.selection-item{
    background-color: rgb(137, 211, 230);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}